/*customize body*/
body {
	font-family: 'Lato', sans-serif;
}

img {
	max-width: 100%;
}

/*customize name and role*/
.name, .role {
	text-align: right;
	color: #2d3c49;
}

.name {
	font-size: 35px;
	font-weight: normal;
	margin-bottom: 5px;	
}

.role {
	font-size: 15px;
	margin-top: 5px;
}

/*customize hr*/
.separate {
	border: 2px solid #7d97ad;
}

/*customize last row*/
.projectstitle {
	text-align: center;
	font-size: 20px;
	color: #7d97ad;
	margin: 5px auto;
}
.mid-row {
	margin-left: auto;
	margin-right: auto;
	float: left;
	text-align: center;
}

/* media queries here for major and minor breakpoints*/

@media only screen and (max-width: 500px) {
    body {
        background-color: navy;
    }
}

@media only screen and (max-width: 500px) {
	.role {
		font-size: 10px;
		margin-top: 5px;
	}
}